section.filter__section {
    font-size: 0.8em !important;
}

button.filter__btn {
    background: white;
    border: 1px solid #ddd;
    padding: .5em 1em !important;
    margin: 0px 3px !important;
    /* font-size: 0.9em !important; */
    transition: all 0.8s !important;
}

button.filter__btn.active {
    color: #fff;
    background: #018ffa;
    border: 0px !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.filter__section.filter__section-btns {
    justify-content: center !important;
    display: flex !important;
    margin: 1rem !important;
}

input.form-control.ng-pristine.ng-untouched.ng-valid {
    margin: 0px 0.2rem !important;
}

.d-md-flex.filter__section.filter__section-datePicker {
    justify-content: space-between;
    margin: 1rem 0px !important;
}