<button (click)="stopGetting()">Stop</button>
<section class="filter__section" *ngIf="!loading">
    <div class="filter__section filter__section-datePicker d-md-flex">
        <input type="datetime-local" class="form-control" [(ngModel)]="startDateTime" />
        <input type="datetime-local" class="form-control" [(ngModel)]="customNow" />
        <div class="text-end">
            <button class="filter__btn filter__section-datePicker-btn" [class.active]="currentFilter == 'S'" (click)="searchFilter()">Search</button>
        </div>
    </div>
    <div class="filter__section filter__section-btns">
        <button class="filter__btn filter__btn-1m" [class.active]="currentFilter == 'Y'" (click)="doFilter('Y')">1Y</button>
        <button class="filter__btn filter__btn-1m" [class.active]="currentFilter == 'M'" (click)="doFilter('M')">1M</button>
        <button class="filter__btn filter__btn-1w" [class.active]="currentFilter == 'w'" (click)="doFilter('w')">1w</button>
        <button class="filter__btn filter__btn-1d" [class.active]="currentFilter == 'd'" (click)="doFilter('d')">1d</button>
        <button class="filter__btn filter__btn-1h" [class.active]="currentFilter == 'hd'" (click)="doFilter('hd')">12h</button>
        <button class="filter__btn filter__btn-1h" [class.active]="currentFilter == 'h'" (click)="doFilter('h')">1h</button>
    </div>
</section>

<div id="lineChart">
    <apx-chart #lineChart *ngIf="!loading" [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [markers]="chartOptions.markers" [title]="chartOptions.title" [fill]="chartOptions.fill" [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis" [tooltip]="chartOptions.tooltip" [autoUpdateSeries]="true"></apx-chart>
</div>


<!-- <div>
    <table class="table table-hoverble">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">INR</th>
                <th scope="col">USD</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of lineData ; let ri = index">
                <td>{{r.time.updatedISO | date:"H:mm a"}}</td>
                <td>{{r.bpi.INR.rate_float | currency:"INR"}}</td>
                <td>{{r.bpi.USD.rate_float | currency}}</td>
            </tr>
        </tbody>
    </table>
</div> -->