<div class="pie__chart__container">
    <app-pie-chart></app-pie-chart>
</div>

<div class="line__chart__container">
    <app-line-chart></app-line-chart>
</div>

<div>
    <table class="table table-hoverble">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">INR</th>
                <th scope="col">USD</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of lineData ; let ri = index">
                <td>{{r.time.updatedISO | date:"H:mm a"}}</td>
                <td>{{r.bpi.INR.rate_float | currency:"INR"}}</td>
                <td>{{r.bpi.USD.rate_float | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>